body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
    font: green;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

